.head {
    background-image: url(../img/cd-intro-blog.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}
.photo-pen-cup {
    background: url(../img/cup-pencil.png) no-repeat center;
    height: 40vh;
    background-size: contain;
    margin: 20px 0;
}

.block {
    padding: 100px;
}
.block img {
    width: 100%;
}