    .header {
        height: 43.75rem;
        top: 0;
        background: url(../images.index/cd-intro-bg.png)center/cover no-repeat;
    }
    
    .header_overlay {
        height: 100%;
    }
    
    .nav-link {
        text-align: center;
        background: rgba(120, 120, 120, 0.5);
    }
    
    .navbar-toggler-icon {
        border: none;
    }
    
    .navbar-dark .navbar-toggler-icon {
        background-image: url(../images.index/burger.png);
        width: 20px;
        height: 20px;
    }
    
    .title-box {
        height: 89.5%;
    }
    
    .title {
        font: 300 5rem 'Open Sans', sans-serif;
    }