.header {
    height: 43.75rem;
    top: 0;
    background: url(../images.index/cd-intro-bg.png)center/cover no-repeat;
}

.header_overlay {
    height: 100%;
    background: rgba(120, 120, 120, 0.3) url(../images.index/animated-bg.png) center no-repeat;
    position: relative;
}
#my-navbar{
    z-index: 2;
}
@media screen and (max-width: 768px) {
    .header{
        background: url(../images.index/cd-bg-background.png)center/cover no-repeat;
    }
    .my-navbar {
        padding: 0;
        background-color: rgba(36, 47, 53, 0.702);
        height: 70px;
    }
}
.my-btn{
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar-toggler {
    border: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.3), 1px -1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.3);
}

.toggler-text {
    color: white;
}

.my-toggler:hover {
    color: rgba(0, 0, 0, 0.5);
    text-shadow: none;
}
.my-menu{
    background: url(../images.index/burger-icon.png)center no-repeat rgba(36, 47, 53, 0.902);
    width: 87px;
    height: 100%;
}

.nav-link {
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(120, 120, 120);
    text-align: center;
    background: rgba(120, 120, 120, 0.8);
}

.nav-link:hover {
    color: black;
    text-shadow: 2px 2px 3px black, 0 0 1.5rem white;
}

.heading {
    font: 300 5rem 'Open Sans', sans-serif;
}
@media screen and (max-width: 768px){
    .heading{
        font-size: 4rem;
    }
}
@media screen and (max-width: 576px){
    .heading{
        font-size: 2.5rem;
    }
}
.heading-box{
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    z-index: 0;
}

.main-container {
    margin: 6.666rem auto;
}

.main-titlebox {
    text-align: center;
}

.titlebox-subtitle {
    font: 700 1rem 'Open Sans', sans-serif;
    color: rgb(212, 175, 55);
}

.titlebox-title {
    font: 600 3.2rem 'Open Sans', sans-serif;
    color: rgba(2, 23, 37, 0.702);
}

.content-text {
    font: 300 1.125rem 'Open Sans', sans-serif;
    line-height: 1.778;
}

.card {
    margin: 0 2px;
    background: rgb(249, 249, 249);
}
@media screen and (max-width: 763px){
    .teams-card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.card-name {
    font: 400 1.313rem 'Open Sans', sans-serif;
    color: rgba(2, 23, 37, 0.702);
    line-height: 2.857;
}

.card-cont {
    padding: 10px;
    font: 300 0.813rem 'Open Sans', sans-serif;
    color: rgb(2, 23, 37);
    line-height: 1.769;
}

.date-card {
    font: 400 0.813rem 'Open Sans', sans-serif;
    color: rgb(80, 93, 104);
    line-height: 4.615;
}

.card-title-hr {
    margin-top: -1.5rem;
    font: 400 1.875rem 'Open Sans', sans-serif;
    color: rgb(80, 93, 104);
    line-height: 2;
}

.card-text {
    font: 300 1rem 'Open Sans', sans-serif;
    color: rgb(80, 93, 104);
    line-height: 1.544;
}

.card-hr {
    padding: 0 0 15%;
}

.txt-hr {
    margin-bottom: 0;
}

.button-hr {
    padding: 0;
    display: inline-block;
}

.btn-hr {
    width: 8rem;
    height: 2.8em;
    border-radius: none;
}
.coordinates-title {
    font: 700 0.813rem 'Open Sans', sans-serif;
    color: rgb(80, 93, 104);
    line-height: 4.615;
}

.coordinates-content {
    font: 300 1.1rem 'Open Sans', sans-serif;
    color: rgb(80, 93, 104);
    line-height: 1.789;
}
@media screen and (max-width:992px) {
    .coordinates-content span {
        font-size: 0.8rem;
    }
}
@media screen and (max-width:576px) {
    .coordinates-content span {
        font-size: 0.65rem;
    }
    .coordinates{
        padding: 0 5px;
    }
}
.footer {
    margin-top: -2.5rem;
    padding: 2.5rem 0;
}

.footer-text {
    font: 300 1rem 'Open Sans', sans-serif;
    color: rgb(80, 93, 104);
    line-height: 2.125;
}
@media screen and (max-width:1200px) {
    .footer-text {
        font-size: 0.8rem;
    }
}






 
 

 .cd_logo_bg_color {
   
    position: absolute;
    left: 0px;
    top: 0px;
    width: 750px;
    height: 113px;
    z-index: 12;
  }
  