    .header {
        height: 43.75rem;
        top: 0;
        background: url(../images.index/cd-intro-bg.png)center/cover no-repeat;
    }
    
    .header_overlay {
        height: 100%;
        background: rgba(120, 120, 120, 0.3) url(../images.index/animated-bg.png) center no-repeat;
    }
    .navbar-toggler{
        border: none;
    }
    .toggler-text{
        color: white;
    }
    .nav-link {
        font-size: 1.5rem;
        text-shadow: 1px 1px 2px black, 0 0 1em rgb(120, 120, 120);
        text-align: center;
        background: rgba(120, 120, 120, 0.8);
    }
    .nav-link:hover{
        color:black;
        text-shadow: 2px 2px 3px black, 0 0 1.5rem white;
    }
    .navbar-toggler-icon {
        border: none;
    }
    
    .navbar-dark .navbar-toggler-icon {
        background-image: url(../images.index/burger.png);
        width: 20px;
        height: 20px;
    }
    
    .heading-box {
        height: 89.5%;
    }
    
    .heading {
        font: 300 5rem 'Open Sans', sans-serif;
    }
  
    .main-container{
        margin: 6.666rem auto;
    }
    .main-titlebox{
        text-align: center;
    }
    .titlebox-subtitle{
        font: 600 1.1rem 'Open Sans', sans-serif;
        color: rgb(212, 175, 55);
    }
    .titlebox-title{
        font: 600 3.2rem 'Open Sans', sans-serif;
        color: rgba(2, 23, 37, 0.702);
    }
    .main-content{}

    .content-text
    .cd_container_p {
        font-size: 18px;
        font-family: "Open Sans";
        color: rgb(2, 23, 37);
        line-height: 1.778;
        text-align: center;
        position: absolute;
        left: 257.742px;
        top: 930.575px;
        width: 757px;
        height: 180px;
        z-index: 17;
      }
      
      
      